/* css for pages */
html, body {
    height: 100%;
}
body {
    display: grid;
    font-family: Avenir, sans-serif;
    color: #111;
    text-align: center;
}

/* css for tesla html link button */
.cta a {
    color: #ffffff;
}

.cta {
    text-decoration: none;
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}
.cta:before {
    text-decoration: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: orange;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    color: white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    color: "#ffffff";
    width: 100%;
    background: orange;
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}

/* css for company description */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.top-page p{
    font-size: 20px;
    font-weight:bold;
    text-align: center;
}
.top-page span {
    color: orange;
}

/* css for market, share, station description */
.sankey-description,
.market-description,
.share-description,
.station-description  {
    color:white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* css for scroll-botton */
/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-..." crossorigin="anonymous"> */
.custom-button a {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.custom-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}
.custom-button button i {
    font-size: 50px;
    margin-right: 8px;
}
.custom-button button:hover {
    color: orange;
}
.custom-button div {
    margin: 0;
    padding: 0;
    text-align: left;
}


/* css for navigation butto to top */
.top-button {
    text-align: center;
}
.top-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size:16px;
    font-weight:bold;
}
/* css for sidebar */
.section-list {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 10px;
}
.section-list h2{
    text-align: center;
}

.section-list a {
    text-decoration: none;
    color: #FFFFFF;
    font-size:16px;
    font-weight:bold;
}
.section-list span {
    font-size: 25px;
    margin-right: 20px;
}

/* css for icons on the siderbar */
.container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p {
    color: orange;
    margin: 3px
}
.container a i::before {
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    transition: all 0.3s linear;
    margin-left: 10px;
    margin-right: 10px;
}
.container a:hover i {
    transform: scale(1.5);
}
.youtube:hover i::before {
    color: red;
}
.instagram:hover i::before {
    color: #e11d74;
}
.linkedin:hover i::before {
    color: #04009a;
}

